<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Note Taking Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="notes.css" rel="stylesheet">

</head>

<body>
    {{!-- style="background-image:url(./notepad2.jpg)" --}}
    {{!-- <div >  --}}
        {{!-- <div style="background-image: url(./notepad1.jpg)"> --}}
            <h1> Note taking app</h1>
    <div class="container-fluid">
                <div="header clearfix">
                    <nav>
                        <ul class='nav nav-pills float-right'>
                            <li class='nav-item'>
                                <a class='nav-link active' href='#'>Home
                                    <span class='sr-only'>(current)</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
        
        {{{body}}}
    </div>
    {{!-- </div> --}}
    <script src='https:// cdnjs.cloudflare.com/ajax/libs/handlebars.js'>

    </script>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
{{!-- CDN handlebars = for Handlebars.compile --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

{{!-- CDN axios = for sending API calls (promise based)--}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="note-frontend.js"></script>
